/* body {
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.q9wDx6YABxExZ4SnKmUMNwHaFt&pid=Api&P=0&h=180');
    background-size: cover; /* This ensures the background image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
 
 */
